// ==============================================
//              Callouts
// ==============================================
.callouts {
    margin-top: 1em;
    background-color: @tertiary-color;
    float: left;
    width: 100%;
    h1,h2,h3,h4,h5,h6{color:#fff; padding-bottom: 0.5em; border-bottom:1px solid #fff;}
}

.callouts img {
    vertical-align: bottom;
}

.calloutsImg{
    border-right:1px solid #fff;
    img{
    }
}

.calloutsText {
    padding: 20px;
    font-size: 0.925em;
}

.calloutsText a {
    margin-top: 4px;
    color: @secondary-color;
    text-decoration: none;
}

.calloutsText a:hover {
    color: darken(@white, 20%);
}

@media only screen and (min-width: @medium-up) {
    .calloutsImg {
        height: 408px;
        overflow:hidden;
        img{
            height:100%;
            max-width:none;
        }
    }
}

@media only screen and (min-width: @large-up) {

    .calloutsImg {
        height: 372px;
        overflow:hidden;
    }
    .calloutsText {
        padding: 30px 60px 20px 30px;
    }
}
@media only screen and (min-width: 1150px) {
    .calloutsImg {
        img{
            width:100%;
            height:auto;
        }
    }
}

.calloutsText p {
    color: @white;
    line-height: 1.4;
}
.calloutsText.longtext p {
    font-size:0.9em;
}

.callouts.one {
    .simplecallout {}
}

.callouts.two {}

.callouts.three {}

.callouts.four {}

.callouts.five {}

.callouts.six {}

.callouts.seven {}

.callouts.eight {}

.callouts.nine {}

@media only screen and (min-width: @medium-up) {
    .callouts {}
}

@media only screen and (min-width: @large-up) {
    .callouts {}
}
